Django>3.2,<3.3
asgiref
bleach
django-appconf
django-compressor
django-debug-toolbar
django-extensions
django-multi-captcha-admin
django-ranged-response
django-robots
django-simple-captcha
django-summernote
django-taggit
Pillow
pytz
rcssmin
rjsmin
six
sqlparse
webencodings
