{% extends 'base.html' %} {% load static %} {% block content %}

<!-- start banner Area -->
<section class="relative about-banner">
    <div class="overlay overlay-bg"></div>
    <div class="container">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="about-content col-lg-12">
          <h1 class="text-white">Log in</h1>
          <p class="text-white link-nav">
            <a href="{% url 'website:index' %}">Home </a>
            <span class="lnr lnr-arrow-right"></span>
            <a href="{% url 'accounts:login' %}">Log in</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End banner Area -->
  

    <section class="contact-page-area section-gap">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 col-lg-6 col-xl-5">
            <div class="login-wrap p-4 p-md-5">
              <h3 class="mb-4">
                Hello! <span>Please log in to continue</span>
              </h3>

              <form
                action="{% url 'accounts:login' %}"
                method="post"
                class="signup-form"
              >
                {% csrf_token %}
                <div class="form-group mb-4">
                  <input
                    type="text"
                    name="username"
                    required="" 
                    class="form-control"
                    placeholder="Username Or Email"
                  />
                </div>
                <div class="form-group mb-4">
                  <input
                    type="password"
                    name="password"
                    required=""
                    class="form-control"
                    placeholder="Password"
                  />
                </div>
                <div class="form-group">
                  <button
                    type="submit"
                    class="btn btn-primary rounded submit p-3"
                  >
                    Log in
                  </button>
                </div>
              </form>

              <div class="w-100 social-wrap">
                <p class="mt-4">
                  Don't have an accounts!
                  <a href="{% url 'accounts:signup' %}">Sign up</a>
                </p>
                <p class="mt-4">
                  Forget your password?
                  <a href="{% url 'accounts:resetpassword' %}">Reset password</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

{% endblock %}