{% extends "base.html" %} 
{% block content %}

<!-- start banner Area -->
<section class="relative about-banner">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">Password Reset Confirm</h1>
        <p class="text-white link-nav">
          <a href="{% url 'website:index' %}">Home </a>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->


<!--Password Reset Confirm-->
<div class="container p-5">
  <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
  <hr />
  <p>Please enter your new password.</p>
  
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="Update password">
  </form>

</div>

{% endblock %}
