{% extends 'base.html' %} 
{% block content %}


<!-- start banner Area -->
<section class="relative about-banner">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">Reset Password</h1>
        <p class="text-white link-nav">
          <a href="{% url 'website:index' %}">Home </a>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!--Reset Password-->
<div class="container p-5">
  <h2 class="font-weight-bold mt-3">Reset Password</h2>
  <hr />
  <p>
    Forgotten your password? Enter your email address below, and we'll email
    instructions for setting a new one.
  </p>
  <form method="POST">
    {% csrf_token %} 
    {{ password_reset_form }}
    <button class="btn btn-primary" type="submit">Send email</button>
  </form>
</div>

{% endblock %}
