{% extends 'base.html' %} {% load static %} {% block content %}


<!-- start banner Area -->
<section class="relative about-banner">
    <div class="overlay overlay-bg"></div>
    <div class="container">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="about-content col-lg-12">
          <h1 class="text-white">Sign up</h1>
          <p class="text-white link-nav">
            <a href="{% url 'website:index' %}">Home </a>
            <span class="lnr lnr-arrow-right"></span>
            <a href="{% url 'accounts:signup' %}">Sign up</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End banner Area -->

  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 col-lg-6 col-xl-5">
          <div class="login-wrap p-4 p-md-5">
            <h3 class="mb-4">
              Hello! <span>Please signup to continue</span>
            </h3>
            <form
              action="{% url 'accounts:signup' %}"
              method="post"
              class="signup-form"
            >
                {% if request.GET.next %}
                  <input type="hidden" name="next" value="{{ request.GET.next }}">
                {% endif %}
              {% csrf_token %}
              <div class="form-group mb-4">
                <label for="first_name">First Name</label>
                <input
                  type="text"
                  name="first_name"
                  class="form-control"
                  placeholder="First Name (Optional.)"
                />
              </div>
              <div class="form-group mb-4">
                <label for="last_name">Last Name</label>
                <input
                  type="text"
                  name="last_name"
                  class="form-control"
                  placeholder="Last Name (Optional.)"
                />
              </div>
              <div class="form-group mb-4">
                <label for="username">Username*</label>
                <input
                  type="text"
                  name="username"
                  required=""
                  class="form-control"
                  placeholder="User Name (Required.)"
                />
              </div>
              <div class="form-group mb-4">
                <label for="email">Email*</label>
                <input
                  type="email"
                  name="email"
                  required=""
                  class="form-control"
                  placeholder="Email (Required.)"
                />
              </div>
              <div class="form-group mb-4">
                <label for="password1">Password*</label>
                <input
                  type="password"
                  name="password1"
                  required=""
                  class="form-control"
                  placeholder="Password."
                />
              </div>
              <div class="form-group mb-4">
                <label for="password2">Confirm Password*</label>
                <input
                  type="password"
                  name="password2"
                  required=""
                  class="form-control"
                  placeholder="Confirm Password."
                />
              </div>
              <div class="form-group">
                <button
                  type="submit"
                  class="btn btn-primary rounded submit p-3"
                >
                  Sign Up
                </button>
              </div>
            </form>

            <div class="w-100 social-wrap">
              <p class="mt-4">
                I'm already a member!
                <a href="{% url 'accounts:login' %}">Log in</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>


{% endblock %}