{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maintenance</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />

  </head>
  <body>


    <div class="container">
        <div class="about-content col-lg-12">
          <h1 class="text-gery">Site Is Under Maintenance</h1>
        </div>
    </div>


    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="menu-content pb-70 col-lg-8">
          <div class="title text-center">
            <h1 class="mb-10">We&rsquo;ll be back soon!</h1>
            <p>
              Sorry for the inconvenience but we&rsquo;re performing some
              maintenance at the moment. If you need to you can always
              <a href="#">contact us</a>, otherwise
              we&rsquo;ll be back online shortly!
            </p>
            <p>&mdash; The Team</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
